


.bookContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border: solid 1px rgb(197, 197, 197);
  border-radius: 6px;
  overflow: hidden;
  background: white;
}

.bookContent {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 10px 20px;
}

.imageContainer {
  flex: 0;
}

.imageContainer img {
  border-radius: 6px;
}

.bookDetails {
  flex: 2;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.statusBar {
  border-top: solid 1px rgb(197, 197, 197);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.addDelete {
  display: block;
  background: #66BB6A;
  color: white;
  font-size: .8em;
  padding: .75em 1.5em;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  justify-self: flex-end;
}

.addDelete:hover {
  background: rgb(73, 136, 76);
}

.addDelete:focus {
  outline: none;
}

.statusBar.saved .addDelete {
  color: #EF5350;
  background: rgba(239, 83, 80, 0.15);
}

.statusBar.saved .addDelete:hover {
  color: rgb(207, 73, 71);
  background: rgba(239, 83, 80, 0.301);
}

.bookDesc {
  font-size: .9em;
  line-height: 1.6em;
  margin-bottom: 1em;
  color: rgb(105, 105, 105);
}